main {
    min-height: calc(100dvh - 70px);
    display: block;
}

.startup-overlay {
    position: fixed;
    inset: 0;
    background: rgb(7, 7, 7);
    z-index: 9999;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;

    // subtle noise / speckles
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><circle cx="50" cy="50" r="1.5" fill="lightgrey"/></svg>');
    background-size: 20px 20px;
}

.reveal-line {
    width: 30px;
    height: 30px;
    background: rgb(255, 220, 232);
    filter: blur(10px);
    transform-origin: center;
    border-radius: 50%;
}