@import "../../shared/tokens.scss";

.project-card {
    background: rgba($accent, 0.05);
    border-radius: 40px;
    padding: 2.5rem;
    margin-bottom: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;

    &.visible {
        opacity: 1;
        transform: translateY(0);
    }

    img {
        width: 100%;
        border-radius: 12px;
    }

    .project-title {
        font-weight: bold;
    }

    .project-lead {
        color: $accent-2 !important;
        padding-left: 1px;
    }

    .project-description {
        padding-left: 1px;
    }

    .additional-screenshots {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
        margin-top: 2rem;

        .additional-img {
            height: 150px;
            width: 215px;
            // width: auto;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
        }

        div {
            text-align: center;
        }

        p {
            font-size: 14px;
            color: rgb(155, 155, 155);
            margin: 5px 0;
        }
    }

    // .rounded-pill:hover {
    //     transform: translateX(90px);
    // }
}

@media (min-width:1200px) {

    .project-info {
        padding-left: 30px;
    }

}

.code {
    font-family: 'Courier New', Courier, monospace;
    padding: 0.15rem 0.25rem;
    white-space: nowrap;
}