<div class="content-container">

    <div class="container my-4">

        <!-- Project 1 -->
        <div class="project-card" appScrollReveal>
            <div class="row align-items-center">
                <div class="col-12 col-md-6 mb-3 mb-md-0">
                    <img src="../../../assets/button_masher.png" alt="Project 1" class="img-fluid project-img">
                </div>
                <div class="project-info col-12 col-md-6">
                    <h3 class="project-title">Button Masher</h3>
                    <p class="project-lead">Games Platform</p>
                    <hr>
                    <p class="project-description">
                        Button Masher is a small hub of mini-games.
                        I built them all using <span class="code">JavaScript</span>, like the tamagochi-inspired
                        DigiPet.
                        Chaser, my first more videogame-style project, uses Phaser, a 2D game framework.
                    </p>
                    <div class="d-flex gap-3">
                        <a href="https://button-masher.netlify.app/game" target="_blank"
                            class="btn btn-outline-primary rounded-pill">
                            <i class="bi bi-box-arrow-up-right"></i> Live
                        </a>
                        <a href="https://github.com/promarker8/button-masher" target="_blank"
                            class="btn btn-outline-secondary rounded-pill">
                            <i class="bi bi-github"></i> Code
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project 2 -->
        <div class="project-card" appScrollReveal>
            <div class="row align-items-center flex-md-row-reverse">
                <div class="project-info col-12 col-md-6 mb-3 mb-md-0">
                    <img src="../../../assets/higher_lower.png" alt="Project 2" class="img-fluid project-img">
                </div>
                <div class="col-12 col-md-6">
                    <h3 class="project-title">Stand-In Project for Styling</h3>
                    <p class="project-lead">Another</p>
                    <hr>
                    <p class="project-description">
                        Another project description that sells it well.
                    </p>
                    <div class="d-flex gap-3">
                        <a href="https://liveproject2.com" target="_blank" class="btn btn-outline-primary rounded-pill">
                            <i class="bi bi-box-arrow-up-right"></i> Live
                        </a>
                        <a href="https://github.com/yourrepo2" target="_blank"
                            class="btn btn-outline-secondary rounded-pill">
                            <i class="bi bi-github"></i> Code
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project 3 -->
        <div class="project-card" appScrollReveal>
            <div class="row align-items-center">
                <div class="col-12 col-md-6 mb-3 mb-md-0">
                    <img src="../../../assets/chaser.png" alt="Project 3" class="img-fluid project-img">
                </div>
                <div class="project-info col-12 col-md-6">
                    <h3 class="project-title">Project Title 3</h3>
                    <p class="project-lead">Another</p>
                    <hr>
                    <p class="project-description">
                        Yet another project description.
                    </p>
                    <div class="d-flex gap-3">
                        <a href="https://liveproject3.com" target="_blank" class="btn btn-outline-primary rounded-pill">
                            <i class="bi bi-box-arrow-up-right"></i> Live
                        </a>
                        <a href="https://github.com/yourrepo3" target="_blank"
                            class="btn btn-outline-secondary rounded-pill">
                            <i class="bi bi-github"></i> Code
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>